<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="CMIOR.UI.WF.Config.ModulesSection, CMIOR.UI.WF" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="logSources" type="CMIOR.Logging.Config.LogSourcesSection, CMIOR.Logging" />
    <section name="monitoring" type="CMIOR.Monitoring.Config.MonitoringSection, CMIOR.Monitoring" />
    <section name="sprEmployeeSID" type="CMIOR.Security.Config.EmployeeSIDConfigSection, CMIOR.Security"/>
  </configSections>
  <sprEmployeeSID configSource="SprEmployeeSID.config"/>

  <runtime>
    <assemblyBinding xmlns="urn:schemas?microsoft?com:asm.v1">
      <probing privatePath="Modules" />
    </assemblyBinding>
    <loadFromRemoteSources enabled="true"/>
  </runtime>

  <modules>
    <add assemblyName="CMIOR.Dictionary" />
    <add assemblyName="CMIOR.ILModule" />
    <add assemblyName="CMIOR.DashboardAdministrationModule" />
    <add assemblyName="CMIOR.SearcherModule" />
    <add assemblyName="CMIOR.ForepostModule" />
    <add assemblyName="CMIOR.PlanGuardModule" />
    <add assemblyName="CMIOR.ResultGuardModule" />
    <add assemblyName="CMIOR.RegimeActivityModule" />
    <add assemblyName="CMIOR.NotificationsModule" />
    <add assemblyName="CMIOR.ViewPanelModule" />
    <add assemblyName="CMIOR.DashboardViewModule" />
    <add assemblyName="CMIOR.InfoPasModule" />
    <add assemblyName="CMIOR.InformExchangeModule" />
    <add assemblyName="CMIOR.StatisticModule" />
    <add assemblyName="CMIOR.EventViewerModule" />
    <add assemblyName="CMIOR.ArmConfigModule" />
  </modules>

  <system.serviceModel>
    <extensions configSource="ServiceModel.Extensions.config" />
    <bindings configSource="ServiceModel.Bindings.config" />
    <behaviors configSource="ServiceModel.Behaviors.config" />
    <client configSource="ServiceModel.Client.config" />
  </system.serviceModel>

  <appSettings>
    <!--Адрес веб-сервера карты-->
    <add key="MapURL" value="http://10.0.140.204/" />
    <!--стиль пользовательского интерфейса приложения-->
    <add key="uiskin" value="Visual Studio 2013 Dark" />
    <!--Название шрифта-->
    <add key="fontname" value="Segoe UI" />
    <!--Размер шрифта-->
    <add key="fontsize" value="10" />
    <!--Есть возможность изменять размер окна-->
    <add key="formsizable" value="True" />
    <!--использовать стратегию распределения при планировании-->
    <add key="PlanGuardModule.employeeDistributionStrategy" value="True" />
    <!--порог, при достижении которого предоставляют возможность отсутствовать субъекту учета-->
    <add key ="PlanGuardModule.employeeOverProcessing" value="8" />
    <!--Идентификатор сектора-->
    <add key="SPN.ControlSectorId" value="4" />
    <!--Интервал обновления в видеоинформировании-->
    <add key="InfoPasModule.RefreshTimeout" value="5000" />
    <!--Интерфал обновления в СПН-->
    <add key="ResultGuardModule.ResultsControlRefreshInterval" value="5000" />
    <!--Цвет отображения для лиц, задержанных более чем на ResultGuardModule.LongControlledPersonInterval -->
    <add key="ResultGuardModule.LongControlledPersonColor" value="142,69,133" />
    <!--Интервал времени в минутах для подкрашивания контролируемых лиц -->
    <add key="ResultGuardModule.LongControlledPersonInterval" value="180" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--время жизни сообщения на видеостене-->
    <add key="DashboardViewModule.MessageLifetime" value="10" />
    <!--цвет фона сообщения по умолчанию-->
    <add key="DashboardViewModule.MessageDefaultBackgroundColor" value="#FFFF0000" />
    <!--URL БД паспортно-визовой информации ОТРПК Домодедово-->
    <add key="PassportVisaInfoDbUrl" value="http://113.50.6.7/Simple.html"/>
    <!--путь к временной папке-->
    <add key="PathTemp" value="%AppData%\Fintech\CMIOR\Statistics"/>
    <!--периодичность контроля наступления обеденного перерыва (минуты)-->
    <add key="LunchControlPeriod" value="1"/>
    <!--время переподключения канала для получения уведомлений(миллисекунд)-->
    <add key="ReconnectDuplexChannel" value="5000"/>
    <!--время жизни уведомлений (час)-->
    <add key="TTLHours" value="3"/>
    <!--время жизни уведомлений(мин)-->
    <add key="TTLMin" value="0"/>
    <!--время жизни уведомлений(сек)-->
    <add key="TTLSec" value="0"/>
    <!--звуковое оповещение поступления уведомления по умолчанию-->
    <add key="Beep" value="true"/>
    <!--Получение списка модулей с базы данных-->
    <add key="GetConfigFromDb" value="True" />

    <!-- отладочные серверные настройки -->
    <!-- Путь к файловому хранилищу загружаемых видеофайлов -->
    <add key="VideoFileRepository" value="d:\Temp\VideoFileRepository"/>
    <!--Путь к файловому хранилищу загружаемых файлов презентаций -->
    <add key="PresentationFileRepository" value="d:\Temp\PresentationFileRepository"/>
    <!--Клиент завершает работу при истечении таймаута logoff, lock-->
    <add key="SmartExitInactiveTimeout" value="00:01:00"/>
  </appSettings>
  <connectionStrings configSource="Connections.config" />
  <logSources>
    <add name="ЦМИОР" level="Info" />
    <add name="WcfMessage" level="Info" />
    <add name="NotificationsClient" level="Info" />
    <add name="EventsMapServiceClient" level="Info" />
    <add name="t_ЦМИОР" level="Info" />
    <add name="t_WcfMessage" level="Info" />
    <add name="t_NotificationsClient" level="Info" />
    <add name="t_EventsMapServiceClient" level="Info" />
  </logSources>
  <monitoring>
    <add name="TestCategory5">
      <add name="TestCounter5">
        <add type="PerfMon" />
        <add type="Custom" classname="CMIOR.Monitoring.Counters.CustomCounter, CMIOR.Monitoring, Version=1.0.0.0, Culture=neutral" valuetype="System.Decimal" />
      </add>
    </add>
  </monitoring>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>