<?xml version="1.0" encoding="utf-8" ?>
<bindings>
  <basicHttpBinding>
    
    <binding name="http"
             maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
             receiveTimeout="01:00:00" sendTimeout="01:00:00"
             closeTimeout="00:01:00" openTimeout="00:01:00">
      <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
      <security mode="TransportCredentialOnly">
        <transport clientCredentialType="Windows"/>
      </security>
    </binding>
    
    <binding name="httpNoneSecurity"
             maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
             receiveTimeout="01:00:00" sendTimeout="01:00:00"
             closeTimeout="00:01:00" openTimeout="00:01:00">
      <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
      <security mode="None">
        <transport clientCredentialType="None"/>
      </security>
    </binding>
  </basicHttpBinding>
  
  <wsDualHttpBinding>
    <binding name="duplex" clientBaseAddress="http://localhost:8020/NotificationServiceClient"
             receiveTimeout="20:00:00" sendTimeout="00:00:20" openTimeout="00:00:20">
      <reliableSession ordered="true" inactivityTimeout="00:00:40"/>
      <!--<security mode="None"/>-->
      <security mode="Message">
        <message clientCredentialType="Windows"></message>
      </security>
    </binding>
  </wsDualHttpBinding>
  <udpBinding>
    <binding name="udp"
             maxBufferPoolSize="2147483647"  maxReceivedMessageSize="2147483647"
             receiveTimeout="01:00:00" sendTimeout="01:00:00"
             closeTimeout="00:01:00" openTimeout="00:01:00" duplicateMessageHistoryLength="2147483647">
    </binding>
  </udpBinding>

  <wsHttpBinding>
    <binding name="wsHttp" >
      <security mode="Message">
        <message clientCredentialType="Windows"></message>
      </security>
    </binding>
  </wsHttpBinding>

  <netMsmqBinding>
    <binding name="msmq">
      <!--<security >
        <transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
      </security>-->
    </binding>
  </netMsmqBinding>

  <netTcpBinding>
    <binding name="streamTCP"
             maxBufferPoolSize="65535" maxBufferSize="65536" maxReceivedMessageSize="4294967295"
             receiveTimeout="01:00:00" sendTimeout="01:00:00"
             closeTimeout="00:01:00" openTimeout="00:01:00"
             transferMode="Streamed">
      
      <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
      <security mode="Transport">
        <transport clientCredentialType="Windows"/>
      </security>
    </binding>

    <binding name="streamTCPNoneSecurity"
             maxBufferPoolSize="65535" maxBufferSize="65536" maxReceivedMessageSize="4294967295"
             receiveTimeout="01:00:00" sendTimeout="01:00:00"
             closeTimeout="00:01:00" openTimeout="00:01:00"
             transferMode="Streamed">
      
      <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
      <security mode="None">
          <transport clientCredentialType="None"/>
      </security>
    </binding>
    
    </netTcpBinding>

</bindings>