<?xml version="1.0" encoding="utf-8" ?>
<client>
  <!--main-->
  <endpoint address="http://10.0.140.204:8020/CMIOR/ILService/" binding="basicHttpBinding" bindingConfiguration="http"
            contract="CMIOR.ILContracts.ServiceContracts.IILService" name="ILService" />
  <endpoint address="http://10.0.140.204:8020/CMIOR/ForepostService/" binding="basicHttpBinding" bindingConfiguration="http"
            contract="CMIOR.ForepostContracts.ServiceContracts.IForepostService" name="ForepostService" />
  <endpoint address="http://10.0.140.204:8020/CMIOR/DictionaryService/" binding="basicHttpBinding" bindingConfiguration="http" 
            contract="CMIOR.CommonContracts.ServiceContracts.IDictionaryService" name="DictionaryService" />
  <endpoint address="http://10.0.140.204:8020/SettingsService/service" binding="basicHttpBinding" bindingConfiguration="http" 
            contract="Dashboard.Interfaces.IDashboardSettings" name="DSService" />
  <endpoint address="http://10.0.140.204:8020/DataForControlsService/service" binding="basicHttpBinding" bindingConfiguration="http" 
            contract="Dashboard.Interfaces.IDataForControls" name="DCService" />
  <endpoint address="http://10.0.140.204:8020/CMIOR/PlanGuardService//" binding="basicHttpBinding" bindingConfiguration="http" 
            contract="CMIOR.CommonContracts.ServiceContracts.IPlanGuardService" name="PlanGuardService" />
  <endpoint address="http://10.0.140.204:8020/CMIOR/NotificationService/duplex/" binding="wsDualHttpBinding" bindingConfiguration="duplex" 
            contract="NotificationProcessingContracts.ServiceContracts.INotificationServiceDuplex" name="DuplexNotificationService"/>
  <endpoint address="http://10.0.140.204:8020/CMIOR/NotificationService/http/" binding="basicHttpBinding" bindingConfiguration="http" 
            contract="NotificationProcessingContracts.ServiceContracts.INotificationService"  name="SenderNotification"/>

  <!--main-->
  
  <!--events-->
  <endpoint name="OnPassportRead" address="http://10.0.140.204:8020/RoutingService/PubSub/" contract="CMIOR.CommonContracts.EventContracts.IOnPassportRead" binding="basicHttpBinding" bindingConfiguration="http" />
  <endpoint name="OnRightsChanged" address="http://10.0.140.204:8020/RoutingService/PubSub/" contract="CMIOR.CommonContracts.EventContracts.IOnRightsChanged" binding="basicHttpBinding" bindingConfiguration="http" />
  <endpoint name="OnPersonControl" address="http://10.0.140.204:8020/RoutingService/PubSub/" contract="CMIOR.CommonContracts.EventContracts.IOnPersonControl" binding="basicHttpBinding" bindingConfiguration="http" />
  <endpoint name="OnPersonAllowLog" address="http://10.0.140.204:8020/RoutingService/PubSub/" contract="CMIOR.CommonContracts.EventContracts.IOnPersonCrossingAllowLog" binding="basicHttpBinding" bindingConfiguration="http" />
  <endpoint name="OnPersonDeniedLog" address="http://10.0.140.204:8020/RoutingService/PubSub/" contract="CMIOR.CommonContracts.EventContracts.IOnPersonCrossingDeniedLog" binding="basicHttpBinding" bindingConfiguration="http" />
  <endpoint name="OnSitatexFileImported" address="http://10.0.140.204:8020/RoutingService/PubSub/" contract="CMIOR.CommonContracts.EventContracts.IOnSitatexFileImported" binding="basicHttpBinding" bindingConfiguration="http" />
  <endpoint name="PushService" address="http://10.0.140.204:8020/RoutingService/PubSub/" contract="CMIOR.CommonContracts.ServiceContracts.INotificationService" binding="basicHttpBinding" bindingConfiguration="http"  />
  <!--events-->
  
  

  
  
</client>