<?xml version="1.0" encoding="utf-8" ?>
<client>
  <!--main-->
  <!--SearcherModule-->
  <endpoint address="http://localhost:8020/CMIOR/SearcherService/" binding="basicHttpBinding" bindingConfiguration="http"
            contract="CMIOR.SearcherContracts.ServiceContracts.ISearcherService" name="SearcherService" />
  <!--ForepostModule-->
  <endpoint address="http://localhost:8020/CMIOR/ForepostService/" binding="basicHttpBinding" bindingConfiguration="http"
            contract="CMIOR.ForepostContracts.ServiceContracts.IForepostService" name="ForepostService" />
  <!--SearcherModule, ILModule, EventViewerModule-->
  <endpoint address="http://localhost:8020/CMIOR/DictionaryService/" binding="basicHttpBinding" bindingConfiguration="http" 
            contract="CMIOR.CommonContracts.ServiceContracts.IDictionaryService" name="DictionaryService" />
  <endpoint address="http://localhost:8020/SettingsService/service" binding="basicHttpBinding" bindingConfiguration="http" 
            contract="Dashboard.Interfaces.IDashboardSettings" name="DSService" />
  <endpoint address="http://localhost:8020/DataForControlsService/service" binding="basicHttpBinding" bindingConfiguration="http" 
            contract="Dashboard.Interfaces.IDataForControls" name="DCService" />
  <endpoint address="http://localhost:8020/CMIOR/PlanGuardService//" binding="basicHttpBinding" bindingConfiguration="http" 
            contract="CMIOR.CommonContracts.ServiceContracts.IPlanGuardService" name="PlanGuardService" />
  <!--EventViewerModule-->
  <endpoint address="http://localhost:8020/CMIOR/EventViewerService/" binding="basicHttpBinding" bindingConfiguration="http"
            contract="CMIOR.CommonContracts.ServiceContracts.IEventViewerService" name="EventViewerService" />
	<endpoint address="http://localhost:8020/CMIOR/ArmConfigService/" binding="basicHttpBinding" bindingConfiguration="http"
		  contract="CMIOR.CommonContracts.ServiceContracts.IArmConfigService" name="ArmConfigService" />

  <!--<endpoint address="http://localhost:8020/CMIOR/NotificationService/duplex/" binding="wsDualHttpBinding" bindingConfiguration="duplex" 
            contract="NotificationProcessingContracts.ServiceContracts.INotificationServiceDuplex" name="DuplexNotificationService"/>-->

  <!--ЦМИОР (создание уведомлений)-->
  <endpoint address="http://localhost:8020/CMIOR/CreationNotificationService/http/" binding="basicHttpBinding" bindingConfiguration="http"
            contract="NotificationProcessingContracts.ServiceContracts.ICreationNotificationService" name="CreationNotification" />
  <!--ЦМИОР (журнал уведомлений)-->
  <endpoint address="http://localhost:8020/CMIOR/CreationNotificationService/" binding="basicHttpBinding" bindingConfiguration="http"
            contract="NotificationProcessing.IInformJournal" name="CreationNotificationJournal" />
  
  <endpoint address="http://localhost:8020/CMIOR/CreationNotificationService/http/" binding="basicHttpBinding" bindingConfiguration="http"
            contract="CreationNotificationServiceProxy.ICreationNotificationService" name="CreationNotificationP" />
  <endpoint address="http://localhost:8020/CMIOR/NotificationService/duplex/" binding="wsDualHttpBinding" bindingConfiguration="duplex"
            contract="NotificationServiceProxy.INotificationServiceDuplex" name="DuplexNotificationService" />
  <endpoint address="http://localhost:8020/CMIOR/ResultGuardService//" binding="basicHttpBinding" bindingConfiguration="http"
            contract="CMIOR.CommonContracts.ServiceContracts.IResultGuardService" name="ResultGuardService" />
  <!--SearcherModule, ForepostModule-->
  <endpoint address="http://localhost:8020/CMIOR/KaskadDataService//" binding="basicHttpBinding" bindingConfiguration="http"
            contract="CMIOR.CommonContracts.ServiceContracts.IKaskadDataService" name="KaskadDataService" />
  <endpoint address="http://localhost:8020/CMIOR/NotificationService/http/" binding="basicHttpBinding" bindingConfiguration="http"
            contract="NotificationServiceProxy.INotificationService"  name="SenderNotification" />
  <endpoint address="http://localhost:8020/CMIOR/InfoPasService//" binding="basicHttpBinding" bindingConfiguration="http"
            contract="CMIOR.CommonContracts.ServiceContracts.IInfoPasService" name="InfoPasService" />

  <endpoint address="net.tcp://localhost:808/CMIOR/FileUploadService/" binding="netTcpBinding" bindingConfiguration="streamTCP"
          contract="CMIOR.CommonContracts.ServiceContracts.IFileUploadService"  name="FileUploadService" />

 
  <!--EventViewerModule-->
  <endpoint address="http://localhost:8020/CMIOR/IntellectVideoRequestService/" binding="basicHttpBinding" bindingConfiguration="http"
            contract="CMIOR.CommonContracts.ServiceContracts.IIntellectVideoRequestService" name="VideoRequestService" />



  <!--EventViewerModule-->
  <endpoint name="GetLogService"  address="http://localhost:8020/CMIOR/GetLogService/" contract="LogMessageContracts.IGetLogService" binding="basicHttpBinding" bindingConfiguration="http"/>

  <!--ЦМИОР (доставка событий на карту)-->

  <endpoint address="http://localhost:8020/CMIOR/EventsMapService/duplex/" binding="wsDualHttpBinding" bindingConfiguration="duplex"
          contract="EventsMapService.IEventsMapDuplex" name="DuplexEventsMap"/>
  <endpoint address="http://localhost:8020/CMIOR/EventsMapService/http/" binding="basicHttpBinding" bindingConfiguration="http"
            contract="EventsMapService.IEventsMapHTTP"  name="EventsMapHTTPproxy"/>
  
  
  
  <!--main-->
  
  <!--EventViewerModule-->
	<endpoint name="FileDownloadService" address="net.tcp://localhost:808/FileDownloadService/" contract="CMIOR.CommonContracts.ServiceContracts.IFileDownloadService" binding="netTcpBinding" bindingConfiguration="streamTCP" />
  <!--EventViewerModule--><!--
  <endpoint name="DecisionSupportSystemService" address ="http://localhost:8020/CMIOR/DecisionSupportSystemService/" contract="CMIOR.CommonContracts.ServiceContracts.IDecisionSupportSystemService" binding="basicHttpBinding" bindingConfiguration="http" />-->

</client>