<?xml version="1.0" encoding="utf-8" ?>
<behaviors>
  <serviceBehaviors>
    <behavior name="dev">
      <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
      <serviceDebug includeExceptionDetailInFaults="True" />
    </behavior>
    <behavior name="devUDP">
      <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
      <serviceDebug includeExceptionDetailInFaults="True" />
    </behavior>

    <behavior name="devTCP">
      <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
      <serviceDebug includeExceptionDetailInFaults="True" />
    </behavior>

    <behavior name="channel">
      <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
      <serviceDebug includeExceptionDetailInFaults="True" />
      <serviceThrottling  maxConcurrentCalls="200"  maxConcurrentInstances="200" maxConcurrentSessions="200"/>
    </behavior>
    
    <behavior name="routingBehavior">
      <routing filterTableName="RoutingTable" />
      <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
      <serviceDebug includeExceptionDetailInFaults="True" />
    </behavior>
    
  </serviceBehaviors>
  <endpointBehaviors>
  </endpointBehaviors>
</behaviors>