<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="modules" type="SmartClient.Core.Config.ModulesSection, SmartClient.Core" />
  </configSections>

  <modules>
    <!--add assemblyName="*" /-->
  </modules>

  <appSettings>
    <!--стиль пользовательского интерфейса приложения-->
    <add key="uiskin" value="Office 2016 Black" />
    <!--Название шрифта-->
    <add key="fontname" value="Segoe UI" />
    <!--Размер шрифта-->
    <add key="fontsize" value="10" />
    <!--Есть возможность изменять размер окна-->
    <add key="formsizable" value="True" />
    <!--Клиент завершает работу при истечении таймаута logoff, lock-->
    <add key="SmartExitInactiveTimeout" value="00:01:00"/>
  </appSettings>

</configuration>